<?xml version="1.0" encoding="utf-8" ?>
<ellis artifactPath="D:\Code\Ellis\Artifacts">
    <profiles>
        <profile name="Post" matchType="UrlPattern" matchPattern="http://gadgetopia.com/post/*">
            <target name="Title" pattern="//title" />
            <target name="Body" pattern="//div[@class='Entry']" hasMarkup="true" filterChains="InitialClean,CleanHtml" />
            <target name="MetaDate" pattern="//meta[@name='dc.date']" attribute="content" optional="true" FilterChains="InitialClean" />
            <target name="MetaCategory" pattern="//meta[@name='Category']" attribute="content" optional="true" FilterChains="InitialClean" />
            <target name="Comment" pattern="//div[@class='Comment']" allowMarkup="true" allowMultiple="true" optional="true" FilterChains="InitialClean"/>
        </profile>
    </profiles>
    <filterChains>

        <filterChain name="InitialClean">
            <trim name="Trim"/>
        </filterChain>

        <filterChain name="CleanHtml">
            <!-- Remove any embedded script tags -->
            <removeElement name="RemoveScriptTags" pattern="script"/>

            <!-- Remove any empty paragraphs -->
            <removeElement name="RemoveEmptyParagraphs" pattern="//p[.='&amp;nbsp;']"/>

            <!-- Remove table widths and cell widths -->
            <removeAttribute name="RemoveTableWidths" pattern="//table" attribute="width"/>
            <removeAttribute name="RemoveTableCellWidths" pattern="//td" attribute="width"/>
            <setAttribute name="AddTableWidth" pattern="//table" attribute="width" value="100%"/>
            
            <!-- Turn B into STRONG -->
            <swapTags name="ReplaceBWithSTRONG" old="b" new="strong"/>

            <!-- Turn I into EM -->
            <swapTags name="ReplaceIWithEM" old="i" new="em"/>

            <!-- Remove all anchors -->
            <removeElement name="RemoveBookmarks" pattern="a[@name]"/>

            <!-- Remove any FONT tags -->
            <removeElement name="RemoveFontTags" pattern="//font" preserveContents="true"/>

            <!-- Fix all the URLs -->
            <removeDomainFromPaths name="RemoveDomainName" removeDomains="gadgetopia.com,www.gadgetopia.com"/>
            <convertRelativeUrls name="RebaseUrls"/>

            <!-- Download any embedded images. -->
            <downloadAssets name="DownloadImages" scope="Images,Files" location="Local" directory="downloaded-images" extensions="*"/>

            <!--<htmlTidy name="HtmlTidy"/>-->
        </filterChain>


    </filterChains>
    <jobOutputs>
        <htmlViewer/>
        <htmlManifest/>        
    </jobOutputs>
</ellis>