<?xml version="1.0" encoding="utf-8" ?>
<ellis artifactPath="C:\Users\Deane Barker\Desktop\Ellis\Artifacts">
    <profiles>
        <!-- TODO: We we need to abstract out extractors, so that pattern matching is just one option. -->
        <profile name="Teleconferences" matchType="UrlPattern" matchPattern="http://www.cno.org//prac/learn/teleconferences/.*" namePart="Title">
            <target name="Title" pattern="//h2/em" allowMultiple="true" filterChains="FinalClean" />
            <target name="Body" pattern="//td[@id='content']" hasMarkup="true" filterChains="InitialClean,CleanHtml,FinalClean" />
        </profile>

        <profile name="DisciplineDecisions" matchType="UrlPattern" matchPattern="http://www.cno.org/ih/decisions/fulltext/.*" namePart="Title">
            <target name="Title" pattern="//title" filterChains="FinalClean,DisciplineDecisionsTitle," />
            <target name="MemberNumber" pattern="//td[not(descendant::td) and contains(.,'#')]" fallbackPattern="//td[not(descendant::td) and contains(.,'Reg.')]" filterChains="InitialClean,MemberNumber"/>
            <target name="HearingDate" pattern="//body" filterChains="InitialClean,HearingDate"/>
            <target name="Body" pattern="//td[h1]" fallbackPattern="//body" hasMarkup="true" filterChains="InitialClean,CleanHtml,DisciplineDecisionsBody,FinalClean" />
        </profile>
        <profile name="InternationalGuide" matchType="UrlPattern" matchPattern="http://www.cno.org/international_en/.*">
            <target name="Title" pattern="//title" filterChains="FinalClean" />
            <target name="Body" pattern="//div[@id='main']" hasMarkup="true" filterChains="InitialClean,CleanHtml,FinalClean" />
            <target name="MetaKeywords" pattern="//meta[@name='Keywords']" attribute="content" optional="true" filterChains="FinalClean" />
            <target name="MetaDescription" pattern="//meta[@name='Description']" attribute="content" optional="true" filterChains="FinalClean" />
        </profile>
        <profile name="QualityPractice" matchType="UrlPattern" matchPattern="http://www.cno.org/ms/qp/.*">
            <target name="Body" pattern="//div[@id='articleBody']" hasMarkup="true" filterChains="InitialClean,CleanQpBody,CleanHtml,FinalClean" />
            <target name="Title" pattern="//div[@id='articleBody']/h2[1]" filterChains="CleanQpTitle,FinalClean" />
        </profile>
        <profile name="Default" matchType="UrlPattern" matchPattern=".*">
            <target name="Title" pattern="//title" filterChains="FinalClean" />
            <target name="Body" pattern="//td[@id='content']" hasMarkup="true" filterChains="InitialClean,CleanHtml,FinalClean" />
            <target name="Sidebar" pattern="//div[@id='sidebar']" hasMarkup="true" optional="true" filterChains="InitialClean,CleanHtml,FinalClean" />
        </profile>
    </profiles>
    <filterChains>

        <filterChain name="CleanQpBody">
            <!-- Remove the first H2.  It's grabbed as the title. -->
            <removeElement name="RemoveH2" pattern="h2[1]"/>
        </filterChain>

        <filterChain name="CleanQpTitle">
            <!-- Remove a STRONG if you find it. -->
            <removeElement name="RemoveStrong" pattern="strong" preserveContents="true"/>
        </filterChain>

        <filterChain name="CleanHtml">

            <!-- Remove any empty element-->
            <removeElement name="RemoveTeleconferencesHeader" pattern="//h2[contains(.,'Teleconferences')]"/>

            <!-- Remove any empty element-->
            <removeElement name="RemoveEmptyParagraphs" pattern="//p[.='&amp;nbsp;']"/>

            <!-- Remove DIVs being used to hide stuff -->
            <removeElement name="RemoveCollapsingDivs1" pattern="//div[@style[contains(., 'display')]]" preserveContents="true"/>
            <removeElement name="RemoveCollapsingDivs2" pattern="//a[@href[contains(., 'animatedcollapse')]]" preserveContents="true"/>
            <removeElement name="RemoveCollapsingDivs3" pattern="//p[.='Close']"/>

            <!-- Remove any embedded sidebars -->
            <removeElement name="RemoveSidebar" pattern="//div[@id='sidebar']"/>

            <!-- Remove the "top" bookmark anchors -->
            <removeElement name="RemoveTopBookmark1" pattern="//p[*/a[contains(@href,'#top')]]"/>
            <removeElement name="RemoveTopBookmark2" pattern="//p[a[contains(@href,'#top')]]"/>

            <!-- Remove the Get Acrobat Reader pargraphs -->
            <removeElement name="RemoveAcrobatReader" pattern="//p[*/a[@href='http://www.adobe.com/products/acrobat/readstep2.html']]"/>

            <!-- Remove any embedded script tags -->
            <removeElement name="RemoveScriptTags" pattern="script"/>

            <!-- Remove any empty paragraphs -->
            <removeElement name="RemoveEmptyParagraphs" pattern="//p[.='&amp;nbsp;']"/>

            <!-- Remove table widths and cell widths -->
            <removeAttribute name="RemoveTableWidths" pattern="//table" attribute="width"/>
            <removeAttribute name="RemoveTableCellWidths" pattern="//td" attribute="width"/>
            <setAttribute name="AddTableWidth" pattern="//table" attribute="width" value="100%"/>

            <!-- Remove any H1s -->
            <removeElement name="RemoveHeadingOne" pattern="h1"/>

            <!-- Remove all classes from LIs -->
            <removeClasses name="RemoveAllClassesFromLI" tag="//li"/>
            <removeClasses name="RemoveAllClassesFromUL" tag="//ul"/>

            <!-- Turn B into STRONG -->
            <swapTags name="ReplaceBWithSTRONG" old="b" new="strong"/>

            <!-- Turn I into EM -->
            <swapTags name="ReplaceIWithEM" old="i" new="em"/>

            <!-- Remove all anchors -->
            <removeElement name="RemoveBookmarks" pattern="a[@name]"/>

            <!-- Remove the "Francias" link -->
            <removeElement name="RemoveFrench1" pattern="//p[a[contains(@href,'#fr')]]"/>
            <removeElement name="RemoveFrench2" pattern="//p[a[contains(.,'#231;ais')]]"/>

            <!-- Remove any FONT tags -->
            <removeElement name="RemoveFontTags" pattern="//font" preserveContents="true"/>

            <!-- We don't need STRONG tags inside heading tags -->
            <removeElement name="RemoveSTRONGInsideH5" pattern="//h5/strong" preserveContents="true"/>

            <!-- Get rid of the footer -->
            <removeElement name="RemoveFooter" pattern="//div[@id='footer']"/>

            <!-- Fix all the URLs -->
            <removeDomainFromPaths name="RemoveDomainName" removeDomains="cno.org,www.cno.org"/>
            <convertRelativeUrls name="RebaseUrls"/>
            
           
            <!-- Download any embedded images. -->
            <downloadAssets name="DownloadImages" scope="Images,Files" location="Local" directory="downloaded-assets" extensions="*"/>

            <cnoCorrectFileLinks name="PrependVPPNameToFileLinks"/>

            <htmlTidy name="HtmlTidy"/>
        </filterChain>

        <filterChain name="InitialClean">
            <stripComments name="StripComments"/>
            <replace name="RemoveEmptyValues" oldString="&gt;&amp;nbsp;&lt;" newString="&gt;&lt;"/>
            <replace name="FixNDashes" oldString="–" newString="--"/>
            <replace name="RemoveSmartQuotes1" oldString="“" newString="&quot;"/>
            <replace name="RemoveSmartQuotes2" oldString="”" newString="&quot;"/>
        </filterChain>
        
        <filterChain name="FinalClean">
            <trim name="Trim"/>
        </filterChain>

        <filterChain name="DisciplineDecisionsBody">
            <removeElement name="RemoveImageBanner" pattern="//p[img[@src='../images/banner_fulltext.gif']]"/>
            <removeElement name="RemoveBottomLinks" pattern="//table[@name='tblBottomLinks']"/>
        </filterChain>


        <filterChain name="MemberNumber">
            <cnoExtractMemberNumber name="ExtractMemberNumber"/>
        </filterChain>

        <filterChain name="HearingDate">
            <cnoExtractHearingDate name="ExtractHearingDate"/>
        </filterChain>

        <filterChain name="DisciplineDecisionsTitle">
            <replace name="RemoveDisiplineDecisionPrefix1" oldString="Full text decision:" />
            <replace name="RemoveDisiplineDecisionPrefix2" oldString="Full-text Decision:" />
            <replace name="RemoveDisiplineDecisionPrefix3" oldString="Full Text Decision:" />
            <replace name="RemoveDisiplineDecisionPrefix4" oldString="Full text decision -" />
            <trim name="Trim"/>
            <cnoExtractDecisionName name="ExtractDecisionName"/>
        </filterChain>

    </filterChains>
</ellis>